{% include 'base.html' %}
<style>
    .errorlist{
        color:red;
    }
</style>
<div class="jumbotron">
    <h1 class="text-center">Login Form</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
    <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
