{% include '../base.html' %}
<style>
    .errorlist{
        color:red;
    }
</style>
<div class="jumbotron">
    <h1 class="text-center">Registration Form</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
    <button type="submit" class="btn btn-primary">Signup</button>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(event){
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            return ret;
        }

        $("#id_phone_no").keypress(function(event){
            debugger
            return IsNumeric(event);
        });
    })
</script>
