{% include 'base.html' %}

{% load static %}

<div class="my-event-list">
    {% include 'common/my-event-list.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'lib/js/cookie.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>