{% load static %}
<div class="container">
    <div class="section-header">
        <h3>Booked Events</h3>
    </div>

    {% if all_booked_event %}
    <div class="row align-items-center product-slider product-slider-4">
        {% for evnt in all_booked_event %}
        <div class="col-lg-3">
            <div class="product-item">
                <div class="product-image">
                    <a href="#event_modal{{evnt.id}}">
                        <img src="{% static 'images/default-event.png' %}" alt="Event Image">
                    </a>
                    <div class="product-action" data-toggle="modal" data-target="#event_modal{{evnt.id}}">
                        <a href="#event_modal{{evnt.id}}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="title">
                        <a href="#event_modal{{evnt.id}}">
                            {{evnt.event_id.event_name}} <b> - ({{evnt.evt_plan_price_id}})</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="event_modal{{evnt.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{evnt.event_id.event_name}}</h5>
                        <button type="button" class="close close-btn" data-target="{% url 'eventmgmt:seat-cancel' evnt.id %}" onclick="cancel_event(this)" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="event-book-div">
                            <span>Event Start Date: <strong>{{evnt.event_id.event_start_date}} </strong></span><br>
                            <span>Event End Date: <strong>{{evnt.event_id.event_end_date}}</strong> </span><br>
                            <span>No Of Seats: <strong>{{evnt.event_id.no_of_seats}} </strong></span><br>
                            <span>Left Seats: <strong>{{evnt.event_id.left_seats}} </strong></span><br>
                            <span>Event Type: <strong>{{evnt.evt_plan_price_id }}</strong> </span><br>
                            <span>Event Price: <strong>{{evnt.evt_plan_price_id.event_price }} </strong></span><br>
                            <strong class="text-danger" id="seat_success_{{ evnt.id }}"></strong>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="cancel_event(this)" class="btn btn-danger bg-danger close-btn" data-target="{% url 'eventmgmt:seat-cancel' evnt.id %}" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="{{evnt.id}}" data-target="{% url 'eventmgmt:seat-cancel' evnt.id %}"
                                onclick="cancel_event(this)">Cancel Seat
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% else %}
    No records found.
    {% endif %}
</div>