<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'accountmgmt:home' %}">
        Home
    </a>
    <a class="navbar-brand" href="{% url 'eventmgmt:my-event-list' %}">
        My Booked Events
    </a>
    <a class="navbar-brand" href="{% url 'eventmgmt:new-event-booking' %}">
        Event Booking
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">
                            {{request.user}}
                        </a>
                        <div class="dropdown-menu" style="margin: 0px -100%;">
                            <a href="{% url 'accountmgmt:logout' %}" class="dropdown-item">
                                Logout
                            </a>
                        </div>
                    </div>
                {% else %}
                    <li class="nav-item p-1" >
                        <a href="{% url 'accountmgmt:login' %}" class="text-white">Login</a>
                    </li>
                    <li class="nav-item p-1">
                        <a href="{% url 'accountmgmt:signup' %}" class="text-white" >Signup</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>