{% include 'base.html' %}

<div>
    {% if request and request.user %}
        Hello <b>{{request.user.username}},</b>
    {% endif %}
    <p>
        Welcome to Event Booking management Portal.
    </p>
</div>
